body {
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  h2 {
    margin-bottom: 10px;
  }

  .movie-details {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .movie-details h3{
    font-size: 60px;
    color: white;
  }

  img {
    width: 100%;
    height: 700px;
    margin-bottom: 10px;
  }

  p {
    text-align: left;
    color: #fff;
  }

  span {
    text-align: left;
    color: #a3a3a3;
  }

  .genres-label{
    color: red;
  }
  
  .grid-2{
    display: grid;
    grid-template-columns: 2fr 2fr; 
    gap: 50px;
    width: 90%;
    margin: auto;
  }
  .movie-details-bk{
    background-image: url('./Images/download.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.additional-image {
  width: 1.5rem;
  height: 1.5rem; 
  max-height: 200px;
  display: block; 
  margin-top: 10px;
  cursor: pointer;
}

.additional-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center; 
   margin: 10px 0 20px;
  background-color: #BE123C;
  padding: 15px 40px; 
  border-radius: 5px;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.additional-text {
  color: white;
}

#currentYear{
  color: #fff;
}

.cast-crew-container{
  width: 90%;
  margin: auto;
}

.cast-crew {
  display: flex;
    overflow-x: auto;
    gap: 60px;
    white-space: nowrap; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
    padding: 50px;
}

.crew-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
}

.crew-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.crew-member p {
  font-size: 0.9em;
  color: #333;
}

@media screen and (max-width: 769px) {
  .grid-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
  }
}

@media screen and (max-device-width: 769px) and (max-device-height: 524px){
    .grid-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
      }

      .footer-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 60px 20px;
        text-align: left;
    }
    
    .footer-links input {
        width: 100%;
        height: 30px;
        text-align: center;
     }
    
     .footer-links p {
        line-height: 1.2;
        font-size: 11px;
    }
   
  }

  @media screen and (max-width: 720px) {
    
    .footer-links {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 60px 20px;
      text-align: left;
  }
  
  .footer-links input {
      width: 430px;
      height: 30px;
      text-align: center;
   }
  }

  @media (max-width: 427px) {
    .footer-links input {
        width: 100%;
        height: 30px;
        text-align: center;
     }
  
     .movie-details h3 {
      font-size: 30px;
  }

  .flex-2{
    display: none;
  }
  
  }
